# 빌드 결과물
.next/
build/
dist/
out/

# 의존성 모듈
node_modules/

# 캐시 파일
.cache/

# 로그 파일
*.log

# 환경 설정 파일
.env*
!.env.example

# 패키지 관련 파일
package-lock.json
yarn.lock
pnpm-lock.yaml

# 기타 무시할 파일
.DS_Store
coverage/ 